body{
    margin-top: 3%;
}
.App{
   justify-content: center;
    display: flex;
    text-align: center;
}
img:hover{
    width: 315px;
    height: 315px;
    cursor: pointer;
}
img{
    transition: 0.5s;
    width: 300px;
    height: 300px;
}
.Card{
    
    padding: 1.3%;
}

